@page
@model Curiosity_Voyage_Library_Management_System_1.Pages.Borrower.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Borrowers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Borrowers.BorrowersID" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Borrowers.Name" class="control-label"></label>
                <input asp-for="Borrowers.Name" class="form-control" />
                <span asp-validation-for="Borrowers.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Borrowers.Email" class="control-label"></label>
                <input asp-for="Borrowers.Email" class="form-control" />
                <span asp-validation-for="Borrowers.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Borrowers.PhoneNumber" class="control-label"></label>
                <input asp-for="Borrowers.PhoneNumber" class="form-control" />
                <span asp-validation-for="Borrowers.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
